  .all-users, .add-user {
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding-top: 170px;
    padding-left: 330px;
    padding-right: 30px;

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
      
      th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #0cb615;
      }
      
      th {
        background-color: #28a745;
        color: white;
      }
      
      tr:hover {
        background-color: #e5e3e3;
      }
      input[type="text"], input[type="email"], input[type="password"], select {
        width: 100%;
        padding: 10px 5px;
        margin: 5px 0 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
      }
      
      input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus {
        border-color: #28a745; 
        outline: none;
      }
      
      form {
        display: flex;
        flex-direction: column;
      }

      .add-user-button {
        background-color: #28a745; 
        color: white;
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .icon {
        cursor: pointer;
        margin: 0 5px;
        font-size: 1.5rem; 
        transition: color 0.3s ease;
      }
      
      .edit-icon {
        color: #28a745;
      }
      
      .remove-icon {
        color: #dc3545;
      }
      
      .save-icon {
        color: #000;
      }
      
      .icon:hover {
        opacity: 0.8;
      }
      
      
  }

  .add-user button{
    cursor: pointer;
    background-color: #28a745;
    border: none;
    color: #fff;
    padding: 10px ;
  }
  
  .all-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
        font-size: 2em;
        color: #333;
      }

      a{
        text-decoration-line: none;
    }
  }

  @media (max-width: 768px) {
    .all-users{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 230px;

        .add-user{
          margin-left: 0px;
          margin-right: 30px;
          margin-top: 180px;
        }
        h1 {
            font-size: 1.5em;
        }
        
            .add-user-button, .remove-button {
            padding: 8px 12px;
            font-size: 0.9em;
        }
    
            th, td {
            padding: 10px;
        }
        
            input[type="text"], input[type="email"], input[type="password"], select {
            font-size: 0.9em;
        }
    }
    
  }

  @media (max-width: 480px){
    .all-users, .add-user{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 190px;
    }
  }
  