.body-section{
    background-image: linear-gradient(rgba(2, 0, 0, 0.5),
    rgba(5, 0, 0, 0.9)), url('background.jpg'), url('about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
}

.body-container{
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0;



    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 200px;

        @media(max-width: 1024px){
            padding-left: 100px;
        }

        @media(max-width: 768px){
            order: 2;
            padding-left: 0;
            margin-top: 0;
            padding-bottom: 20px;
        }
        @media(max-width:330px){
            padding: 0 20px;
        }

    }

    @media(max-width: 768px){
        display: flex;
        flex-direction: column;
    }
    
}

.body-content h1{
    font-size: 35px;
    margin-bottom: 0px;
    text-align: left;

    @media (max-width: 1024px){
        font-size: 25px;
    }
    @media(max-width: 768px){
        padding: 0 15px;
    }
    @media (max-width: 600px){
        font-size: 23px;
    }
}

.body-content h3{
    font-size: 25px;
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;

    @media(max-width: 768px){
        padding: 0 15px;
    }
}
.body-content p{
    letter-spacing: .1em;
    font-size: 18px;
    margin-top: 5px;
    text-align: left;

    @media (max-width: 768px){
        font-size: 13px;
        letter-spacing: .1em;
        padding: 0 15px;
    }    
}
.inputs select{
    cursor: pointer;
    padding: 12px;
    font-size: 18px;
    border-radius: 3px;
    width: 100%;

    @media (max-width: 1024px){
        margin: 10px 50px;
    }

    @media(max-width: 768px){
        padding: 12px 10px;
    }
    @media (max-width: 480px){
        width: 95%;
    }
}
.inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;

    @media(max-width: 1024px){
        flex-direction: column;
        gap: 5px;
    }
}
.inputs input{
    border: none;
    font-size: 18px;
    padding: 12px;
    border-radius: 3px;
    width: 95%;

    @media (max-width: 1024px){
        margin: 0 50px;
    }
    @media(max-width: 768px){
        padding: 12px 10px;
        margin: 10px 50px;
    }

    @media (max-width: 480px){
        width: 90%;
    }
}
.inputs button{
    border: none;
    background-color: rgb(42, 112, 42);
    color: #fff;
    font-size: 17px;
    padding: 13px 10px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;

    @media(max-width: 1024px){
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    @media (max-width: 480px){
        width: 95%;
    }

}

.search-result{
    min-height: 100vh;
    background-color: rgb(145, 203, 145);
    padding: 150px 20px;

}
.search{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2), 0px 0px 20px rgba(0,0,0,0.4);
    padding: 20px;
    border-radius: 10px;
    margin: 50px 350px;
    text-align: center;
    

    @media(max-width: 1024px){
        margin: 30px 80px;
        padding: 20px;
    }

    @media(max-width: 500px){
        margin: 30px 0px;
        padding: 10px 5px;
    }

    h3{
        @media(max-width: 500px){
            font-size: 10px;
        }
    }
    p{
        text-align: right;
        color: rgb(23, 110, 23);
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 1px;

        @media(max-width: 500px){
            font-size: 14px;
        }

        a{
            text-decoration-line: none;
            color: red;
        }
    }
}
.back-img img{
    cursor: pointer;
}
.loader {
    text-align: center;
    margin-top: 280px;
}
.loader img{
    width: 100px;
}

.side-img {
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;

    img{
        width: 70%;
    }

    @media(max-width:768px){
        margin-bottom: 0;
        width: 80%;
    }
}

