.con-body{
    background-color:  rgb(145, 203, 145);
    min-height: 100vh;
    
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #fff;
    padding-top: 100px;

    @media (max-width:991px){
        padding: 40px;
        padding-top: 150px;
        flex-direction: column;
        justify-content: center;
    }
}
.h2{
    font-size: 36px;
    font-weight: 500;
}

.contact-container{
    width: 40%; 
    padding: 15px 10px;
    background-color: #ede8e8;
    border-radius: 10px;
    align-items: center;
    color: #000;
    
    @media(max-width:1024px){
        padding: 0px 30px;
    }

    @media (max-width:991px){
        width: 90%;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    @media (max-width:400px){
        padding: 20px 20px;
    }
}
.contact-info{
    display: flex;
    flex-direction: column;
}
.infos{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.icon{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;


}
.icon img{
    color: black;
   
}
.contact-text{
    font-weight: 300;
}
.contact-text p{
    margin-top: 0;
    font-size: 16px;
    color: #000;
}
.contact-text h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: green;
}
.contact-text a{
    text-decoration-line: none;
    font-size: 20px;
    color: rgb(165, 27, 27);
}
.contact-form{
    width: 40%;
    padding: 40px;
    min-height: min-content;
    background-color: #fff;
    border-radius: 5px;

    @media (max-width:991px){
        width: 100%;
       padding: 20px;
    }
}
.contact-form h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contact-form, .input{
    margin-top: 10px;
}
.input input{
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid green;
    border-left: 1px solid green;
    outline: none;
    resize: none;
}
.input textarea{
    width: 100%;
    border-radius: 5px;
    border: 2px solid green;
    font-size: 18px;
    padding: 5px 5px;
}
.input input[type='submit']{
    width: 100px;
    background-color: rgb(5, 88, 5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.contact-form p{
    margin-top: 0;
    color: red;
    
}
