.Addpost{
    text-align: center;
    background-color: rgb(145, 203, 145);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 330px;
}

.form{
    padding: 10px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.2s;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    min-height: min-content;
    background-color: rgb(246, 251, 246);

    @media (max-width: 500px){
        width: 300px;
    }

    @media (max-width: 350px){
        width: 250px;
    }
}

.form h1{
    font-size: x-large;
    text-align: center;
    color: rgb(31, 114, 65);
}

.form label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.form input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(38, 142, 38);
    border-radius: 3px;
    font-size: 12px;
}

.form select{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(38, 142, 38);
    border-radius: 3px;
    font-size: 12px;
}

textarea{
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;

}

.form button{
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: green;
    width: 40%;
    font-size: 16px;
}
.upload {
    border: 1px solid rgb(38, 142, 38);
    padding: 10px 0;
}
.upload button{
    cursor: pointer;
    width: 30%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 7px 5px;

    @media (max-width:500px){
        width: 40%;
        font-size: 13px;
        padding: 5px 5px;
    }
}
.upload label{
    background-color: green;
    text-align: center;
    margin: 0 auto;
    width: 25%;
    padding: 5px 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;

    @media (max-width: 501px){
        width: 45%;
        font-size: 15px;
    }
    @media (max-width: 321px){
        width: 55%;
    }
}
.upload img{
    width: 30%;
    height: 150px;
    border-radius: 50%;

    @media (max-width: 501px){
        width: 45%;
    }
    @media (max-width: 321px){
        width: 55%;
    }
}
.form p{
    margin: 0;
    color: red;
    font-size: 13px;
    text-align: left;
}
.checkbox-container{
    display: flex;
    align-items: center;
    margin-left: -220px;
    
    input{
        cursor: pointer;
    }
    label{
        margin-left: -210px;
        font-weight: 500;
    }
    strong{
        font-size: 20px;
        color: green;
    }
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content button {
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    background-color: rgb(2, 108, 2);
    border: none;
}

@media(max-width: 768px){
    .Addpost{
        padding-left: 0;
        padding-top: 170px;
    }
}

@media(max-width: 480px){
    .checkbox-container{
        display: flex;
        align-items: center;
        margin-left: -130px;
        
        input{
            cursor: pointer;
        }
        label{
            margin-left: -110px;
            font-weight: 500;
        }
        strong{
            font-size: 20px;
            color: green;
        }
    }
}