.sidebar {
  width: 320px;
  background-color: rgb(2, 46, 30);
  color: white;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: visible;
  padding-top: 100px;
  transition: width 0.2s ease, transform 0.2s ease;
}

.sidebar-header {
  padding: 20px 0;
  text-align: center;
  background-color:  rgb(38, 129, 24);
  color: #fff;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  position: relative;
  font-size: 22px;
}

.sidebar-menu li a,
.dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar-menu li a:hover, .dropdown-toggle:hover {
  background-color: rgb(7, 82, 40);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: rgb(3, 74, 3);
}

.dropdown-menu li a {
  padding: 10px 50px;
  font-size: 16px;
}

.dropdown-toggle i,
.dropdown-menu li a i {
  margin-right: 10px; 
  margin-left: 10px; 
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu.open {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    padding-top: 180px;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-header {
    padding: 15px;
    margin-top: 120px;
  }

  .sidebar-menu li a,
  .dropdown-toggle {
    padding: 10px 15px;
  }

  .toggle-button {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: fixed;
    /* left: 800px; */
    left: 690px;
    top: 70px;
    right: 0;
    z-index: 1100;
  }
}

@media (max-width: 480px){
  .sidebar{
    width: 100%;
  }
  .toggle-button {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: fixed;
    left: 280px;
    right: 0;
    z-index: 1100;
  }
  .sidebar-header {
    padding: 15px;
    margin-top: 80px;
  }
}

@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }
}
