.sign{
    font-family: Roboto;
    background-color: rgb(145, 203, 145);
    min-height: 100vh;
    padding-bottom: 20px;
}
.sign h1{
    color: rgb(28, 104, 60);
    text-align: center;
    margin-bottom: 20px;
    
}
.sign-in{
    background-color: #fff;
    width: 300px;
    margin: auto;
    border-radius: 15px;
    padding: 50px 50px;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px){
        width: 250px;
    }

    @media (max-width: 377px){
        width: 220px;
    }
    @media (max-width: 321px){
        width: 200px;
    }

}


.sign-in button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    width: 278px;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    padding: 0 50px;

    @media (max-width: 321px){
        width: 280px;
    }
}
.sign-in button:first-child{
    background-color: #000;
    color: #fff;
}
.sign-in button:nth-child(2){
    background-color: #d8d2d2;
}
.sign-in button:nth-child(3){
    background-color:  #063795;
    color: #ffffff;
    font-size: 14px;
}
.sign p{
    margin-bottom: 0;
    margin-top: 0;

    @media (max-width: 376px){
        margin-bottom: 0;
    }
    @media (max-width: 335px){

        margin-bottom: 0;
    }
}


.section-con{
    padding-top: 120px;
}
.inputs-signin{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #c2c6bcb7;

    @media (max-width: 500px){
        padding: 25px 5px;
    }

    @media (max-width: 376px){
        padding: 25px 5px;
    }
    @media (max-width: 335px){
        padding: 25px 5px;
    }
}
.inputs-signin input{
    width: 199px;
    height: 39px;
    margin-top: 16px;
    padding-left: 50px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #D0D0D0;
    color: #BCBCBC;


    @media (max-width: 500px){
        width: 215px;
        margin-top: 16px;
    }

    @media (max-width: 376px){
        width: 210px;
        margin-top: 16px;
    }
    @media (max-width: 325px){
        width: 195px; 
        padding-left: 65px;
        margin: 0 2px;
        margin-top: 16px;
    }
}
.input-img-sign-in{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-img-sign-in img{
    margin-left: -240px;
    margin-bottom: -17px;

    @media (max-width: 500px){
        margin-left: -250px;
        
    }

}
.inputs-signin button{
    width: 250px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    justify-content: center;
    margin-top: 16px;
    background-color: #010101;
    color: #FFFFFF;

    @media (max-width: 500px){
        width: 100%;
    }
}

.sign-in img{
    margin-right: 10px;
    width: 18px;
}

.alreadylogged{
    margin-top: 20px;
    text-align: left;
}
.alreadylogged a{
    text-decoration-line: none;
    color: #063795;
    font-size: 17px;
    margin-left: 5px;

    @media(max-width:480px){
        font-size: 15px;
    }
}
.alreadylogged p{
    font-size: 18px;
    color: #000;

    @media(max-width:480px){
        font-size: 15px;
    }
}
.result{
    min-height: 100vh;
    color: #000;
    background-color: pink;
}
.s-e{
    background-color: green;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;

    margin-bottom: 20px;
}



/*current user*/

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .main-content {
    margin-left: 300px;
    padding: 20px;
    margin-top: 110px;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        color: #4caf50;
      }
  }
  
  
  
  .logged-in {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .no-user {
    color: #ff5722;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
  
    .main-content {
      margin-left: 0;
      margin-top: 150px;
    }
}
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    form{
        display: flex;
        flex-direction: column;

        input{
            padding: 10px;
        }
    }
  }
  
  .modal-content button {
    margin-top: 10px;
  }
  