.signup-header{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;

    @media (max-width: 768px){
        border-bottom: 1px solid black;
    }
}
.signup-header img{
    width: 20%;
    padding-top: 15px;
}
.section-signup{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width:768px){
        display: flex;
        flex-direction: column;
        border: 1px solid #383a3828;
        margin: 120px 140px;
        padding-bottom: 25px;
        border-radius: 12px;
    }

    @media (max-width: 650px){
        margin: 120px 10px;
    }
}
.section1-signup{
    width: 421px;
    height: 499px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;

    @media (max-width: 768px){
        border: none;
        padding-bottom: 0;
    }
}
.section1-signup h1{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 600;
    padding-top: 13px;


}
.section1-signup img{
    width: 20px;
}
.inputs-signup{
    display: flex;
    flex-direction: column;

}
.inputs-signup input{

    width: 320px;
    height: 40px;
    margin: 15px 15px;
    padding-left: 60px;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #D0D0D0;
    color: #BCBCBC;

    @media (max-width: 390px){
        width: 247px;
        margin-left: 49px;
    }
    @media (max-width: 350px){
        width: 190px;
        margin-left: 75px;
    }
}
.input-img-signup{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.span input{
    width: 5%;
    padding: 0;
    margin-right: 5px;
}

.span span{
    font-size: 16px;
}
.input-img-signup img{
    margin-left: -380px;

    @media (max-width: 1024px){
        margin-left: -380px;
        margin-bottom: -4px;
    }

    @media (max-width: 767px){
        margin-left: -380px;
    }

    @media (max-width:390px){
        margin-left: -310px;
    }

    @media (max-width: 350px){
        margin-left: -250px;
    }
}
.inputs-signup button{

    width: 370px;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 18px;
    margin-left: 20px;
    background-color: #010101;
    color: #FFFFFF;

    @media (max-width: 390px){
        width: 300px;
        margin-left: 45px;
    }

    @media (max-width: 350px){
        width: 250px;
        margin-left: 85px;
    }
}

/* section2 */

.section2-signup{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.section2-signup button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    width: 278px;
    height: 40px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    padding: 0 50px;
}
.section2-signup button:first-child{
    background-color: #ECECEC;
}
.section2-signup button:nth-child(2){
    background-color: #063795;
    color: #fff;
}
.section2-signup img{
    margin-right: 10px;
    width: 18px;
}